<!DOCTYPE html>
<html>
    <head>
        <title>Website Structure Notes</title>
        <link rel="stylesheet" href="./WebStructureStyle.css" />
    </head>
    <body>
        
            <header>
                <img src="../assets/google_logo.jpg" style="width: 200px; height: 200px;" />
                <h1>Star Enterprises</h1>
            </header>
        
            <nav>
              <ul style="list-style-type: none;">
                <li><a href="CSSStyle.html">Our team</a></li>
                <li><a href="JSPractice.html">Projects</a></li>
                <li><a href="CSSStyle.html">Awards</a></li>
                <li><a href="JSPractice.html">Notices</a></li>
              </ul>
            </nav>
             <main>
              <article>
                <h2>Article heading</h2>
                <section id="section_1">
                    <h4>Heading - Section 1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, asperiores quae exercitationem sed explicabo magnam.</p>
                </section>
                <section id="section_2">
                    <h4>Heading - Section 2</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas excepturi, recusandae quas assumenda cupiditate porro.</p>
                </section>
                
              </article>
        
              <aside>
                <h2>Related</h2>
        
                <ul>
                  <li><a href="#">New Office in Delhi</a></li>
                  <li><a href="#">New Manufacturing HUb in Hyderabad</a></li>
                  <li><a href="#">Online Seminar </a></li>
                </ul>
              </aside>
            </main>
        
           
        
            <div>
              <p>©Copyright 2050 by nobody. All rights reversed.</p>
            </div> 
    </body>
</html>